/*
Match

li:matches(:nth-child(even), .target) {
  background-color: blue;
}

*/

/*
Not

li:not(.target) {
  background-color: blue;
}

*/
/*                                                  */
/*
:root {
  --awesomeColor: 1px solid red;
}

li:first-child a {
  border: var(--awesomeColor);
}

@custom-selector :--headers h1, h2, h3, h4, h5, h6;

:--headers {
  color: #8e44ad;
}
*/

/*

@custom-media --ipad-size (450px < width <= 850px);

@media (--ipad-size) {
  body {
    background-color: wheat;
  }
}

*/
/*          */
/*
h1 {
  color: #f1c40f;
}

h1:hover {
  color: color-mod(#f1c40f blackness(10%));
}
*/
main {
  background-color: blue;
  & section {
    background-color: red;
    width: 500px;
    & li {
      background-color: yellow;
      width: 400px;
      & a {
        color: black;
        &:hover {
          font-size: 30px;
        }
      }
    }
  }
}
